* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contain {
  margin: 0 auto;
  width: 98%;
  max-width: 1200px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER  */
header {
  background-color: #EF6630;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  padding: 20px 0;
}

.bar {
  position: relative;
  justify-content: space-between;
  height: 40px;
}

ul {
  display: flex;
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
  padding: 5px;
}

.menu {
  cursor: pointer;
  position: absolute;
  left: 0;
  color: white;
}

.logo {
  position: absolute;
  text-align: center;
  left: 50vh;
  background-image: url(../img/boolean-logo.png);
  width: 180px;
  height: 40px;
  background-position: center;
  background-size: cover;
  ba
}

.action {
  cursor: pointer;
  position: absolute;
  right: 0;
  color: white;
}

li {
  padding: 5px;
}

/* Main  */

.cards {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
  width: calc(100% / 3 - 20px );
  height: 650px;
  position: relative;
}

.model {
  position: relative;
  z-index: 2;
  width: 100%;
  cursor: pointer;
}

.model-2 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
}

.img:hover .model-2 {
  z-index: 3;
}

.heart {
  padding: 15px;
  position: absolute;
  top: 10px;
  right: 0;
  background-color: white;
  cursor: pointer;
  z-index: 3;
}

.heart:hover {
  color: red;
}

.discount {
  position: absolute;
  font-size: 15px;
  bottom: 135px;
  padding: 5px;
  background-color: red;
  color: white;
  z-index: 3;
}

.eco {
  position: absolute;
  font-size: 15px;
  bottom: 135px;
  left: 50px;
  padding: 5px;
  background-color: green;
  color: white;
  z-index: 3;
}

.eco.single {
  left: 0;
}

h4 {
  font-size: 12px;
  color: #B49686;
}

h3 {
  text-transform: uppercase;
  font-size: 15px;
}

.low-price {
  color: red;
}


