* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 98%;
  max-width: 1200px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER  */
header {
  box-shadow: 0px 1px 2px gray;
  background-color: #EF6630;
}

.sticky {
  position: fixed;
  top: 0;
  height: 70px;
  z-index: 5;
  background-color: #EF6630;
  width: 100%
}

h2 {
  font-size: 17px;
  color: white;
  margin-left: 10px;
}

h3 {
  text-transform: uppercase;
  font-size: 15px;
}

h4 {
  font-size: 12px;
  color: black;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  padding: 20px 0;
}

.bar {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

ul {
  display: flex;
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
  padding: 5px;
}

.menu {
  cursor: pointer;
  left: 0;
  color: white;
}

.logo {
  text-align: center;
  background-image: url(../img/boolean-logo.png);
  width: 130px;
  height: 30px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: -130px;
}

.action {
  cursor: pointer;
  right: 0;
  color: white;
}

li {
  padding: 5px;
}

/* Main  */

.cards {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
  width: calc(100% / 3 - 20px );
  height: 650px;
  position: relative;
}

.model {
  position: relative;
  z-index: 2;
  width: 100%;
  cursor: pointer;
}

.model-2 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
}

.img:hover .model-2 {
  z-index: 3;
}

.heart {
  padding: 15px;
  position: absolute;
  top: 10px;
  right: 0;
  background-color: white;
  cursor: pointer;
  z-index: 3;
}

.heart:hover {
  color: red;
}

.discount {
  position: relative;
  font-size: 15px;
  bottom: 70px;
  padding: 5px;
  background-color: red;
  color: white;
  z-index: 3;
}

.eco {
  position: relative;
  font-size: 15px;
  bottom: 70px;
  padding: 5px;
  background-color: green;
  color: white;
  z-index: 3;
}

.price {
  font-size: 12px;
}

.low-price {
  color: red;
}

/* FOOTER  */

footer {
  background-color: #1A1A1A;
  height: 90px;
}

.information {
  display: flex;
  justify-content: space-between;
}

.privacy li {
  font-size: 13px;
}

.social {
  color: white;
}

.social span {
  font-size: 12px;
  color: white;
}

.social a {
  padding: 0px;
}